/Proyectos_JSF/Tutorial_MitoCode/JSFBasico/nbproject/private/
/Proyectos_JSF/Tutorial_MitoCode/JSFBasico/build/
/Proyectos_JSF/Tutorial_MitoCode/JSFDatatable/nbproject/private/
/Proyectos_JSF/Tutorial_MitoCode/JSFDatatable/build/
/Proyectos_JSF/Tutorial_MitoCode/JSFValidators1/nbproject/private/
/Proyectos_JSF/Tutorial_MitoCode/JSFValidators1/build/